#edit-form {
    position: fixed;
    top: 96px;
    left: 48px;
    background-color: var(--primary-main);
    padding: 1rem 5rem;
    min-width: 40rem;
    max-width: 45rem;
}

#edit-form * 
{
    color: black;
}

.edit-btns {
    display: flex;
    flex-direction: row;
    padding: .3rem;
}

.edit-btns button {
    max-width: 5rem;
}

.row-action-btn {
    border: .05rem solid white;
}

.file-prev-cont {
    height: 500px;
    padding: 1rem;
    overflow: auto;
}

.file-prev-cont li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dwn-link {
    color: var(--client-text);
    font-size: .8rem;
}

.file-prev {
    width: 400px;
    height: 350px;
}