table {
  border-collapse: collapse;
  margin: .5rem auto;
  width: 100%;
}

tr {
  border: .05rem solid var(--primary-gray-border);
  background-color: white;
}

tr:hover {
  cursor: pointer;
  background-color: var(--primary-main);
  border: .05rem solid transparent;
}

th, td {
  color: black;
  padding: .3rem .5rem;
  font-size: .8rem;
  text-align: left;
}